<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Tutorial of Develop</title>
    <link rel="stylesheet" th:href="@{/css/employee/register.css}">
</head>
<body>
    <a th:href="@{/logout}">ログアウト</a>
    <h1>従業員　新規登録ページ</h1>

    <form method="post" th:action="@{/employee/register}" th:object="${employee}">
        <label for="employee.authentication.code">社員番号</label>
        <br>
        <input type="text" th:field="*{authentication.code}">
        <br>
        <label for="employee.name">氏名</label>
        <br>
        <input type="text" th:field="*{name}">
        <br>

        <label for="employee.authentication.password">パスワード</label>
        <br>
        <input type="text" th:field="*{authentication.password}">
        <br>
        <label for="authentication.role">役割</label>
        <br>
        <select th:field="*{authentication.role}">
            <option value="" th:text="選択してください">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
        </select>
        <br>

        <br>
        <input type="submit" value="投稿">
        <br>
        <a th:href="@{/employee/list}">一覧に戻る</a>
    </form>
</body>
</html>