<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <title>Lesson 35  last challenge</title>
    <link rel="stylesheet" th:href="@{/css/employee/update.css}">
</head>
<body>
    <h1>id:[[${employee.id}]]の従業員情報編集ページ</h1>
    <h4>(パスワードは変更する場合のみ入力ください)</h4>
    <form method="post" th:action="@{/employee/update/{id}/(id=${employee.id})}" th:object="${employee}">
        <font size=3>社員番号</font>
        <br><tr><td th:text="*{authentication.code}"></td></tr><br>
        <label for="name">氏名</label>
        <br>
        <input type="text" th:field="*{name}">
        <br>
        <label for="password">パスワード</label>
        <br>
        <input type="password" id="authentication.password" name="authentication.password">
        <br>
        <label for="authentication.role">権限</role>
        <br>
        <select th:field="*{authentication.role}">
            <option value="" th:text="選択してください">
            <option th:each="item:${T(com.techacademy.entity.Authentication.Role).values()}" th:value="${item}" th:text="${item}">
        </select>
        <br>
        <input type="submit" value="投稿">
        <br>

 <a th:href="@{/employee/delete/{id}(id=${employee.id})}">この従業員情報を削除する</a>

 <a th:href="@{/employee/list}">一覧に戻る</a>
</body>
</html>